
@import "assets/_variables"

.app
  text-align: center

  &-header
    top: 0
    z-index: 2
    width: 100%
    height: 4em
    display: flex
    position: fixed
    flex-direction: row
    align-items: center
    padding: 0.1em 0.1em
    justify-content: center
    background-color: $THEME

    #left
      flex: 1
    #center
      flex: 5
      text-align: center
      color: $WHITE
      justify-content: center
    #right
      flex: 1

  &-body
    top: 4em
    left: 0
    right: 0
    bottom: 0
    display: flex
    padding: 1vmin
    position: fixed
    align-items: center
    justify-content: center
    background-color: $BACKGROUND_GREY

  .kairos-logo
    height: 1vmax
    pointer-events: none